<main>
  <ng-container *ngIf="isEmbedded">
    <form class="learnForm" autocomplete="off" [formGroup]="learnForm" (ngSubmit)="onSubmit(learnForm.value)">
      <div class="learnForm__picture">
        <img [src]="currentWord.picture_url" alt="Picture of the word">
      </div>
      <mat-form-field>
        <mat-label>Word single indefinite</mat-label>
        <input matInput formControlName="word_single_indefinite">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Word single definite</mat-label>
        <input matInput formControlName="word_single_definite">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Word plural indefinite</mat-label>
        <input matInput formControlName="word_plural_indefinite">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Word plural definite</mat-label>
        <input matInput formControlName="word_plural_definite">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Word plural generative</mat-label>
        <input matInput formControlName="word_plural_genitive">
      </mat-form-field>
      <div class="learnForm__buttons">
        <button mat-raised-button color="primary" [disabled]="learnForm.invalid" type="submit">Next</button>
      </div>
    </form>
  </ng-container>
</main>
