$block-width: 350px;
$block-height: 844px;

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.addNewRecordForm{
  width: $block-width;
  height: $block-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  ::ng-deep mat-form-field{
    width: inherit;
  }
  &__buttons{
    width: inherit;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
